{% extends "base.html" %}

    {% block content %}
    <div class="container">
        <div class="row">
        <div class="col-xs-12 text-center">
          <h1 class="cover-heading">Sketch Annotator v0.1</h1>
          <p class="lead">Help us improve our Sketch Annotation Tool</p>
          <p class="lead">
          <a href="{{ url_for('views.signin') }}" class="btn btn-lg btn-default">Get Started</a>
          </p>
        </div>
        </div>
    </div> <!-- /container -->
    {% endblock content %}

